.navbar {
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.3);
    border-radius: inherit;
    background: #01303F;
    color: white;
    z-index: 10;
    margin-bottom: 0;
    z-index: 200;
}

.navbar-brand a:hover, .navbar-brand a {
    text-decoration: none;
    color: inherit;
}

.navbar, .navbar .navbar-brand, .navbar .navbar-right, .navbar-nav > li > a {
    line-height: 30px;
    min-height: 60px;
}

.navbar .navbar-toggle {
    font-size: 24px;
}

.navbar-toggle .icon-bar {
    background: #333;
}

.sidebar {
  color: white;
  position: fixed;
  width: 200px;
  top: 0;
  background: #006d8e;
  height: 100%;
  padding: 70px 10px 10px 10px;
  font-size: 11px;
  transition: left 0.3s ease-in-out;
  left: 0;
  z-index: 100;
}

.sidebar .well {
  color: black;
}

.sidebar .checkboxes {
  border-bottom: 1px solid white;
}

.sidebar .searchbox {
  margin-top: 10px;
}

.sidebar .find-zips {
  font-size: 11px;
}

.sidebar .well{
  max-height: 100px;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 50;
}

@media screen and (max-width: 768px){
    .sidebar-closed {
      left: -210px;
    }
}
