<nav class="navbar">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a routerLink='/'>
                    <i class="fa fa-envelope-open" aria-hidden="true"></i> USAZips
                </a>
            </div>
            <button type="button" (click)="changeMenu()" class="navbar-toggle collapsed" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</nav>

<div class="sidebar" [ngClass]="{'sidebar-closed': hideMenu }">
  <div class="checkboxes">
    <div class="checkbox">
      <label><input type="checkbox" (click)="changeShowStates()">Show States</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" (click)="changeShowLocal()" [checked]="true">Show zoomed zips</label>
    </div>
  </div>

  <div class="searchbox">
    <strong>Search Zipcodes</strong>
    <input [(ngModel)]="selectedZip" (change)="searchZips()" type="text" class="form-control input-sm">
    <br/>
    <div *ngIf="findZips" class="well well-sm">
      <div class="find-zips" *ngFor="let zip of findZips" (click)="addZip(zip)">
        {{zip.city}} - {{zip._id}}
      </div>
    </div>
    <div *ngIf="selectedZips.length > 0" class="well well-sm">
      <div class="find-zips" *ngFor="let zip of selectedZips">
        {{zip.city}} - {{zip._id}}
      </div>
      <a href="#" (click)="clearSelection()">Clear selected</a>
    </div>
    <div class="form-group">
      <label for="pop-greater">Population greater than:</label>
      <input [(ngModel)]="popG" type="number" class="form-control input-sm" id="pop-greater">
    </div>
    <div class="form-group">
      <label for="pop-less">Population less than:</label>
      <input [(ngModel)]="popL" type="number" class="form-control input-sm" id="pop-less">
      <br/>
      <div *ngIf= "errorMessage" class="well well-sm">
        {{errorMessage}}
      </div>
      <button class="btn btn-primary" type="submit" (click)="getZips()">Submit</button>
    </div>
  </div>
</div>

<div class="overlay" (click)="changeMenu()" [hidden]="hideMenu"></div>
