<app-navbar></app-navbar>

<div class="content">
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [zoomControl]="false"
    (zoomChange) = "zoomChange($event)"
    (boundsChange) = "boundsChanged($event)"
    [style.height]="mapHeight + 'px'"
  >
    <sebm-google-map-marker
      *ngFor="let zip of localZips; let i = index"
      [latitude]="zip.loc[1]"
      [longitude]="zip.loc[0]"
      [label]="zip.city"
      [markerDraggable]="false"
      [visible]="showLocal"
    >
      <sebm-google-map-info-window>
        <strong>Zipcode: {{zip._id}}</strong>
        <div>Place: {{zip.city}}</div>
        <div>Population: {{zip.pop}}</div>
        <div>State: {{zip.state}}</div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <sebm-google-map-marker
    *ngFor="let zip of filteredZips; let i = index"
    [latitude]="zip.loc[1]"
    [longitude]="zip.loc[0]"
    [label]="zip.city"
    [markerDraggable]="false"
    [visible]="showLocal"
  >
    <sebm-google-map-info-window>
      <strong>Zipcode: {{zip._id}}</strong>
      <div>Place: {{zip.city}}</div>
      <div>Population: {{zip.pop}}</div>
      <div>State: {{zip.state}}</div>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
    <sebm-google-map-marker
      *ngFor="let zip of searchZips; let i = index"
      [latitude]="zip.loc[1]"
      [longitude]="zip.loc[0]"
      [markerDraggable]="false"
    >
      <sebm-google-map-info-window>
        <strong>Zipcode: {{zip._id}}</strong>
        <div>Place: {{zip.city}}</div>
        <div>Population: {{zip.pop}}</div>
        <div>State: {{zip.state}}</div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <sebm-google-map-marker
        *ngFor="let state of states; let i = index"
        (markerClick)="clickedMarker(state.name, i)"
        [latitude]="state.location[1]"
        [longitude]="state.location[0]"
        [label]="state.name"
        [markerDraggable]="false"
      >
        <sebm-google-map-info-window>
          <strong>State: {{state.name}}</strong>
          <div>Population: {{state.population}}</div>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
  </sebm-google-map>
</div>

