.page_loaders {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.page_loaders_opaque {
  background-color: #075A6D;
  height: 100%;
  opacity: 0.3;
}

.plxl {
  opacity: 1;
  background-color: #01303F;
  border-radius:0;
}

#index-img {
  height:150px;
}
.index-load-wrapper {
  position: absolute;
  top:70%;
  width:100%;
  z-index: 20;
}
.loading_image span {
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top:50%;
  left:50%;
}

.loading_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #075A6D;
  top: 0;
  text-align: center;
}

.loading_wrapper i {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: -25px;
}
.loading_wrapper i.small {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: -10px;
}
.loading_wrapper i.medium {
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin: -25px;
}
.loading_wrapper i.large {
  width: 100px;
  height: 100px;
  font-size: 100px;
  margin: -50px;
}

.text-white {
  color: white;
}

@media screen and (max-width: 767px){
  #index-img{
    height: 100px;
  }
  .loading_wrapper i.small {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: -10px;
  }
  .loading_wrapper i.medium {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin: -15px;
  }
  .loading_wrapper i.large {
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin: -20px;
  }
}
